@model IEnumerable<MasterProj.Models.Title>

@{
    ViewBag.Title = "Index";
}
<style>
    
        body {
    background-color : lightblue;
}
    h2 {
        text-shadow: 4px 4px #bf8040;
    }
    input[type=text] {
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 150px;
}
</style>

<h2>Titles</h2>
<br />
<div>@Html.ActionLink("Recommended Titles", "RecomandadTitles")</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formsearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-2">Full Name</div>
        <div class="col-md-2"><input type="text" id="Author" name="Author" /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Genre Type</div>
        <div class="col-md-2"><input type="text" id="Genre" name="Genre" /></div>
        <div class="col-md-1"></div>
    </div>
    
    <div class="row" id="SearchBox">
        <div class="col-md-2">Title Name</div>
        <div class="col-md-2"><input type="text" id="TitleName" name="TitleName" /></div>
        <div class="col-md-1"><input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
