@model IEnumerable<MasterProj.Models.Sale>

@{
    ViewBag.Title = "Index";
}
<style>
    
        body {
    background-color : lightblue;
}
    h2 {
        text-shadow: 4px 4px #ffff1a;
    }
    input[type=text] {
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 150px;
}
</style>

<h2>Sales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formsearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-2">Quantity</div>
        <div class="col-md-2"><input type="number" id="Quantity" name="Quantity"  /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Date Time</div>
        <div class="col-md-2"><input type="date" id="SaleDate" name="SaleDate"  /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Total Sale Price</div>
        <div class="col-md-2"><input type="number" id="TotalSalePrice" name="TotalSalePrice" /></div>
        <div class="col-md-1"><input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title.TitleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title.TitleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSalePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>

<div>@Html.ActionLink("Group By Date", "GroupByDateQuery")</div>
