@model IEnumerable<MasterProj.Models.Store>

@{
    ViewBag.Title = "Index";
}
<style>

    body {
        background-color: lightblue;
    }

    h2 {
        text-shadow: 4px 4px #ffb84d;
    }

    input[type=text] {
        width: 100px;
        -webkit-transition: width .35s ease-in-out;
        transition: width .35s ease-in-out;
    }

        input[type=text]:focus {
            width: 150px;
        }
</style>

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formsearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-2">Store Name</div>
        <div class="col-md-2"><input type="text" id="StoreName" name="StoreName" /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Store City</div>
        <div class="col-md-2"><input type="text" id="StoreCity" name="StoreCity" /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Store State</div>
        <div class="col-md-2"><input type="text" id="StoreState" name="StoreState" /></div>
        <div class="col-md-1"><input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreState)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>@Html.ActionLink("Group By City", "GroupByCityQuery")</div>
<br />
<div>@Html.ActionLink("Group By State", "GroupByStateQuery")</div>