@model IEnumerable<MasterProj.Models.Author>

@{
    ViewBag.Title = "Index";
}
<style>
    h2 {
        text-shadow: 4px 4px  #80CCFF;
    }

    body {
        background-color : lightblue;
    }

    input[type=text] {
        width: 100px;
        -webkit-transition: width .35s ease-in-out;
        transition: width .35s ease-in-out;
    }
        input[type=text]:focus {
            width: 150px;
        }
</style>

<h2>Authors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formsearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-2">Author Name</div>
        <div class="col-md-2"><input type="text" id="AuthorName" name="AuthorName" /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Author City</div>
        <div class="col-md-2"><input type="text" id="AuthorCity" name="AuthorCity" /></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" id="SearchBox">
        <div class="col-md-2">Author State</div>
        <div class="col-md-2"><input type="text" id="AuthorState" name="AuthorState" /></div>
        <div class="col-md-1"><input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>@Html.ActionLink("Group By Name", "GroupByNameQuery") </div>
<br />
<div>@Html.ActionLink("Group By City", "GroupByCityQuery")</div>

